.fs-0 {
    font-size: 0rem !important;
}

.fs-10 {
    font-size: 0.7142857143rem !important;
}

.fs-12 {
    font-size: 0.8571428571rem !important;
}

.fs-14 {
    font-size: 1rem !important;
}

.fs-16 {
    font-size: 1.1428571429rem !important;
}

.fs-18 {
    font-size: 1.2857142857rem !important;
}

.fs-20 {
    font-size: 1.4285714286rem !important;
}

.fs-22 {
    font-size: 1.5714285714rem !important;
}

.fs-24 {
    font-size: 1.7142857143rem !important;
}

.fs-26 {
    font-size: 1.8571428571rem !important;
}

.fs-30 {
    font-size: 2.1428571429rem !important;
}

.fs-32 {
    font-size: 2.2857142857rem !important;
}

.fs-36 {
    font-size: 2.5714285714rem !important;
}

.fs-38 {
    font-size: 2.7142857143rem !important;
}

.fs-40 {
    font-size: 2.8571428571rem !important;
}

.fs-42 {
    font-size: 3rem !important;
}

.fs-46 {
    font-size: 3.2857142857rem !important;
}

.fs-48 {
    font-size: 3.4285714286rem !important;
}

.fs-50 {
    font-size: 3.5714285714rem !important;
}

.fs-60 {
    font-size: 4.2857142857rem !important;
}

.fs-70 {
    font-size: 5rem !important;
}

.fs-72 {
    font-size: 5.1428571429rem !important;
}

.fs-76 {
    font-size: 5.4285714286rem !important;
}

.fs-78 {
    font-size: 5.5714285714rem !important;
}

.fs-80 {
    font-size: 5.7142857143rem !important;
}

.fs-100 {
    font-size: 7.1428571429rem !important;
}

.fs-140 {
    font-size: 10rem !important;
}

.fs-180 {
    font-size: 12.8571428571rem !important;
}

.fs-200 {
    font-size: 14.2857142857rem !important;
}

/* Radius */
.rounded0 {
    border-radius: 0px;
}

.rounded5 {
    border-radius: 5px;
}

.rounded10 {
    border-radius: 10px;
}

.rounded15 {
    border-radius: 15px;
}

.rounded20 {
    border-radius: 20px;
}

.rounded25 {
    border-radius: 25px;
}

.rounded30 {
    border-radius: 30px;
}

.rounded35 {
    border-radius: 35px;
}

.rounded40 {
    border-radius: 40px;
}

.rounded45 {
    border-radius: 45px;
}

.rounded50 {
    border-radius: 50px;
}

.rounded55 {
    border-radius: 55px;
}

.rounded60 {
    border-radius: 60px;
}

.rounded65 {
    border-radius: 65px;
}

.rounded70 {
    border-radius: 70px;
}

.rounded75 {
    border-radius: 75px;
}

.rounded80 {
    border-radius: 80px;
}

.rounded85 {
    border-radius: 85px;
}

.rounded90 {
    border-radius: 90px;
}

.rounded95 {
    border-radius: 95px;
}

.rounded100 {
    border-radius: 100px;
}